@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  top: 0;
}
#ggg{
  color: rgba(245, 245, 245, 0.479);
  display: flex;
  justify-content: space-around ;
}

